<body>
    <div class="wrapper">
        <div class="form-left">
            <div class="mb-3 pt-5 logo">
                <img src="../../../../../assets/pages/img/Isolation_Mode.png" alt="logo" class="img-fluid">
            </div>
            <p class="pe-5">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Et molestie ac feugiat sed. Diam volutpat commodo.
            </p>

        </div>
        <form class="form-right" [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
            <h2 class="text-uppercase mt-2">Login</h2>
            <div class="form-group">
                <mat-form-field>
                    <mat-label>Username</mat-label>
                    <input matInput type="username" placeholder="Username" formControlName="username" maxlength="320"
                        autocomplete="off" />
                    <mat-error *ngIf="isControlHasError('username','required')">
                        <strong>Username is required</strong>
                    </mat-error>
                    <mat-error *ngIf="isControlHasError('username','username')">
                        <strong>{{ 'AUTH.VALIDATION.INVALID_FIELD' }}</strong>
                    </mat-error>
                    <mat-error *ngIf="isControlHasError('username','maxlength')">
                        <strong>User should not be greater than 320 character</strong>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="form-group">
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput type="password" placeholder="Password" formControlName="password" minlength="3"
                        maxlength="16" autocomplete="off" />
                    <mat-error *ngIf="isControlHasError('password','required')">
                        <strong>Password is required</strong>
                    </mat-error>
                    <!-- <mat-error *ngIf="isControlHasError('password','minLength')">
                        <strong>Must be at least 8 characters!</strong>
                    </mat-error>
                    <mat-error *ngIf="isControlHasError('password','maxLength')">
                        <strong>Must max length is 16.</strong>
                    </mat-error>

                    <mat-error *ngIf="isControlHasError('password','hasCapitalCase')">
                        <strong>Must contain at least 1 in Capital Case!</strong>
                    </mat-error>
                    <mat-error *ngIf="isControlHasError('password','hasNumber')">
                        <strong>Must contain at least 1 number!</strong>
                    </mat-error>
                    <mat-error *ngIf="isControlHasError('password','hasSmallCase')">
                        <strong>Must contain at least 1 Letter in Small Case!</strong>
                    </mat-error>
                    <mat-error *ngIf="isControlHasError('password','hasSpecialCharacters')">
                        <strong>Must contain at least 1 Special Character!</strong>
                    </mat-error>-->
                </mat-form-field>
            </div>

            <div class="mb-3 text-end">
                <label class="option"><a href="forgot-password.html" class="text-secondary">Forget Password ?</a>
                </label>
            </div>
            <div class="form-field ">
                <!-- <input type="submit" value="Register" > -->
                <button type="submit" [disabled]="!loginForm.valid" class="register" name="register">Login</button>
            </div>
        </form>
    </div>
</body>
<script>
    const togglePassword = document.querySelector('#togglePassword');
    const password = document.querySelector('#id_password');

    togglePassword.addEventListener('click', function (e) {
        // toggle the type attribute
        const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
        password.setAttribute('type', type);
        // toggle the eye slash icon
        this.classList.toggle('fa-eye-slash');
    });
</script>