<!-- add university modal -->

<div class="modal-header text-white bg-theme">
    <h5 class="modal-title">{{headerText}}</h5>
    <button type="button" class="btn-close btn-close-white" [mat-dialog-close]="" aria-label="Close"></button>
</div>
<form class="form-right" [formGroup]="addProfileForm">

    <div class="container">
        <div class="row">

            <mat-form-field class="example-full-width">
                <mat-label>Profile Name</mat-label>
                <input matInput placeholder="Enter Profile Name" formControlName="profile_name" maxlength="60"
                    autocomplete="off">
                <mat-error *ngIf="hasError('profile_name', 'required')">Profile Name is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field>
                <mat-label>Profile Description</mat-label>
                <input matInput placeholder="Enter Profile Description" formControlName="profile_description"
                    maxlength="200" autocomplete="off">
                <mat-error *ngIf="hasError('profile_description', 'required')">Profile Description is
                    <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>

        <div class="form-group row">
            <div class="col-lg-12 col-md-12 kt-margin-bottom-20-mobile mat-elevation-z8">
                <div *ngIf="!isActivityStringValid">
                    <mat-error><strong>Please select any activity</strong></mat-error>
                </div>
                <div class="mat-table__wrapper mat-elevation-z8">
                    <mat-table class="lmat-elevation-z8" #table [dataSource]="dataSource" matSort #sort1=""
                        matSortActive="id" matSortDirection="asc" matSortDisableClear>
                        <ng-container matColumnDef="activityName">
                            <mat-header-cell style="min-width: 250px; max-width: 250px" *matHeaderCellDef
                                mat-sort-header>Activity Name</mat-header-cell>
                            <mat-cell style="min-width: 250px; max-width: 250px;" *matCellDef="let activity"
                                class="mat-column-checkbox">
                                <mat-checkbox class="example-margin" formControlName="select_all"
                                    [(ngModel)]="activity.isActivityChecked" (change)="
                                        changeActivityCheckbox(
                                            activity.activityID,
                                            $event.checked
                                        )
                                    "></mat-checkbox>
                                &nbsp;&nbsp;
                                <span [class.boldCell]="
                                        activity.parentActivityID == 0
                                    ">{{ activity.activityName }}</span>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="create">
                            <mat-header-cell style="max-width: 250px" *matHeaderCellDef mat-sort-header>Create
                            </mat-header-cell>
                            <mat-cell style="max-width: 250px" *matCellDef="let activity">
                                <mat-checkbox formControlName="create" *ngIf="activity.parentActivityID != 0"
                                    class="example-margin" [(ngModel)]="activity.c" [disabled]="
                                        activity.parentActivityID == 0
                                    " (change)="
                                        changeActivityItemCheckbox(
                                            activity.activityID
                                        )
                                    "></mat-checkbox>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="read">
                            <mat-header-cell style="min-width: 100px; max-width: 150px" *matHeaderCellDef
                                mat-sort-header>Read</mat-header-cell>
                            <mat-cell style="min-width: 100px; max-width: 150px" *matCellDef="let activity">
                                <mat-checkbox formControlName="read" *ngIf="activity.parentActivityID != 0"
                                    class="example-margin" [(ngModel)]="activity.r" [disabled]="
                                        activity.parentActivityID == 0
                                    " (change)="
                                        changeActivityItemCheckbox(
                                            activity.activityID
                                        )
                                    "></mat-checkbox>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="update">
                            <mat-header-cell style="min-width: 100px; max-width: 150px" *matHeaderCellDef
                                mat-sort-header>Update</mat-header-cell>
                            <mat-cell style="min-width: 100px; max-width: 150px" *matCellDef="let activity">
                                <mat-checkbox formControlName="update" *ngIf="activity.parentActivityID != 0"
                                    class="example-margin" [(ngModel)]="activity.u" [disabled]="
                                        activity.parentActivityID == 0
                                    " (change)="
                                        changeActivityItemCheckbox(
                                            activity.activityID
                                        )
                                    "></mat-checkbox>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="delete">
                            <mat-header-cell style="min-width: 100px; max-width: 150px" *matHeaderCellDef
                                mat-sort-header>Delete</mat-header-cell>
                            <mat-cell style="min-width: 100px; max-width: 150px" *matCellDef="let activity">
                                <mat-checkbox formControlName="delete" *ngIf="activity.parentActivityID != 0"
                                    class="example-margin" [(ngModel)]="activity.d" [disabled]="
                                        activity.parentActivityID == 0
                                    " (change)="
                                        changeActivityItemCheckbox(
                                            activity.activityID
                                        )
                                    "></mat-checkbox>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="export">
                            <mat-header-cell style="min-width: 100px; max-width: 150px" *matHeaderCellDef
                                mat-sort-header>Export</mat-header-cell>
                            <mat-cell style="min-width: 100px; max-width: 150px" *matCellDef="let activity">
                                <mat-checkbox *ngIf="activity.parentActivityID != 0" class="example-margin"
                                    [(ngModel)]="activity.e" [disabled]="
                                        activity.parentActivityID == 0
                                    " (change)="
                                        changeActivityItemCheckbox(
                                            activity.activityID
                                        )
                                    "></mat-checkbox>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="extra">
                            <mat-header-cell style="min-width: 100px; max-width: 150px" *matHeaderCellDef
                                mat-sort-header>Extra</mat-header-cell>
                            <mat-cell style="min-width: 100px; max-width: 150px" *matCellDef="let activity">
                                <mat-checkbox *ngIf="activity.parentActivityID != 0" class="example-margin"
                                    [(ngModel)]="activity.ex" [disabled]="
                                        activity.parentActivityID == 0
                                    " (change)="
                                        changeActivityItemCheckbox(
                                            activity.activityID
                                        )
                                    "></mat-checkbox>
                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="
                                displayedColumns;
                                sticky: true
                            " class="table-header-background"></mat-header-row>

                        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
                    </mat-table>

                    <!-- <div class="mat-table__message" *ngIf="!loading && dataSource.data.length == 0">
                        No records found
                    </div> -->
                    <div class="mat-table__message" *ngIf="loading">
                        Please wait....
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer border-0">
        <button type="button" mat-raised-button color="warn" [mat-dialog-close]="">Cancel</button>
        <button type="button" mat-raised-button color="primary" (click)="onSubmit()">{{buttonText}}</button>
    </div>
</form>