<!-- add university modal -->

<div class="modal-header text-white bg-theme">
    <h5 class="modal-title">{{headerText}}</h5>
    <button type="button" class="btn-close btn-close-white" [mat-dialog-close]="" aria-label="Close"></button>
</div>
<form class="form-right" [formGroup]="addActivityForm">

    <div class="container">
        <div class="row">

            <mat-form-field class="example-full-width">
                <mat-label>Activity Name</mat-label>
                <input matInput placeholder="Enter Activity Name" formControlName="activity_name" value="">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field>
                <mat-label>Parent Activity</mat-label>
                <mat-select placeholder="Select Parent Activity" formControlName="parent_activity">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let activity of activityListModel"
                        [value]="activity.activityID">{{activity.activityName}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field class="example-full-width">
                <mat-label>Activity URL</mat-label>
                <input matInput placeholder="Enter Activity URL" formControlName="activity_url" value="">
            </mat-form-field>
        </div>

        <div class="row">
            <section class="example-section">
                <span class="example-list-section">
                    <mat-checkbox class="example-margin" formControlName="list_all" [checked]="allComplete"
                        [indeterminate]="someComplete()" (change)="setAll($event.checked)">
                        {{task.name}}
                    </mat-checkbox>
                </span>
                <span class="example-list-section">
                    <ul>
                        <li *ngFor="let subtask of task.subtasks">
                            <mat-checkbox [(ngModel)]="subtask.completed" formControlName="list"
                                (ngModelChange)="updateAllComplete()">
                                {{subtask.name}}
                            </mat-checkbox>
                        </li>
                    </ul>
                </span>
            </section>
        </div>

        <!-- <div class="col-md-6 mt-4">
                <mat-form-field class="example-full-width">
                    <mat-label>University Description</mat-label>
                    <mat-checkbox class="example-margin" formControlName="activity_c"
                        [(ngModel)]="c_checked">Checked</mat-checkbox>
                </mat-form-field>
            </div> -->

    </div>
    <div class="modal-footer border-0">
        <button type="button" mat-raised-button color="warn" [mat-dialog-close]="">Cancel</button>
        <button type="button" mat-raised-button color="primary" (click)="onSubmit()">{{buttonText}}</button>
    </div>
</form>